BLINK_FUZZY_IMPLEMENTATION=
COPILOT_DISABLE_SUGGESTIONS=false
COPILOT_MODEL_ARCHITECT=o1 # reasoning, small context
COPILOT_MODEL_CHEAP=gpt-4.1 # quick/low-cost tasks
COPILOT_MODEL_CODEGEN=claude-3.7-sonnet # generation, big context
COPILOT_MODEL_REASON=gpt-4o # reasoning, big context
COPILOT_PROXY=
FORMAT_ON_SAVE=true
IS_WORK=false
LSP_DISABLED_SERVERS=
MASON_DISABLED_PACKAGES=
OIL_DISABLE_GIT_HIGHLIGHTS=false
RESTORE_CHANGED_FILES_IGNORE=
SNACKS_PICKER_DB_SQLITE3_PATH=
TREESITTER_DISABLED_PARSERS=
USE_BROWSER=
