AI_DISABLE_SUGGESTIONS=false
BLINK_FUZZY_IMPLEMENTATION=
COPILOT_PROXY=
FORMAT_ON_SAVE=true
GREP_EXCLUDE_FILES=package-lock.json,lazy-lock.json
LSP_DISABLED_SERVERS=
MASON_DISABLED_PACKAGES=
OPENCODE_API_KEY=
OPENCODE_CHAT_MODEL=
SNACKS_PICKER_DB_SQLITE3_PATH=
TIME_TRACKING_ENABLED=false
USE_BROWSER=
USE_SHELL=
ZEN_MODE_WINDOW_WIDTH=140
