BLINK_FUZZY_IMPLEMENTATION=
COPILOT_DISABLE_SUGGESTIONS=false
COPILOT_PROXY=
FORMAT_ON_SAVE=true
GREP_EXCLUDE_FILES=package-lock.json,lazy-lock.json
IS_WORK=false
LSP_DISABLED_SERVERS=
MASON_DISABLED_PACKAGES=
SNACKS_PICKER_DB_SQLITE3_PATH=
TIME_TRACKING_ENABLED=false
USE_BROWSER=
USE_SHELL=
ZEN_MODE_WINDOW_WIDTH=120
