BLINK_FUZZY_IMPLEMENTATION=
COPILOT_DISABLE_SUGGESTIONS=false
# https://docs.github.com/en/copilot/reference/ai-models/supported-models#model-multipliers
# https://lmarena.ai/leaderboard/webdev
COPILOT_MODEL_CHEAP=gpt-4o
COPILOT_MODEL_CODEGEN=claude-sonnet-4.5
COPILOT_MODEL_REASON=gpt-5.2-codex
COPILOT_PROXY=
FORMAT_ON_SAVE=true
GREP_EXCLUDE_FILES=package-lock.json,lazy-lock.json
IS_WORK=false
LSP_DISABLED_SERVERS=
MASON_DISABLED_PACKAGES=
SNACKS_PICKER_DB_SQLITE3_PATH=
TIME_TRACKING_ENABLED=false
USE_BROWSER=
USE_SHELL=
ZEN_MODE_WINDOW_WIDTH=120
